<mat-card *ngIf="user">
    <mat-card-header class="overflow-hidden">
        <img [src]="user | userImage" mat-card-avatar class="border-1">
        <mat-card-title>{{ user.firstname }} {{user.lastname}}</mat-card-title>
        <mat-card-subtitle>
            <span>
                {{ user.email }}
            </span>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item *ngIf="user.birthDate">
                <span class="font-light">Fecha de nacimiento: </span>
                <span>{{user.birthDate}}</span>
            </mat-list-item>
            <mat-list-item *ngIf="user.address">
                <span class="font-light">Dirección: </span>
                <span>{{user.address.street}}</span>
            </mat-list-item>
            <mat-list-item *ngIf="user.address">
                <span class="font-light">Ciudad: </span>
                <span>{{user.address.city}}</span>
            </mat-list-item>
            <mat-list-item *ngIf="user.address">
                <span class="font-light">Código postal: </span>
                <span>{{user.address.postalcode}}</span>
            </mat-list-item>
            <mat-list-item *ngIf="user.address" class="flex align-items-center">
                <span class="font-light">País: </span>
                <span>{{(user.address.country || '' | userCountry) | async}}</span>
                <img class="ml-2" [src]="(user.address.country || '' | flagCountry) | async" [ngStyle]="{height: '17px'}">
            </mat-list-item>
        </mat-list>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <button mat-stroked-button color="primary" [routerLink]="routeView.replace(':id',user.id?.toString() || '')"><mat-icon>storage</mat-icon>Ver</button>
        <button class="ml-2" mat-stroked-button color="primary" [routerLink]="routeEdit.replace(':id',user.id?.toString() || '')"><mat-icon>edit</mat-icon>Editar</button>
        <span class="spacer"></span>
        <button (click)="deleteUser()" mat-raised-button color="warn"><mat-icon>delete</mat-icon>Borrar</button>
    </mat-card-actions>
</mat-card>